<%- include('../partials/header') %>

<div id="bookstore-display">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Popular Genres</th>
                <th>Website</th>
                <th>Learn More</th>
            </tr>
        </thead>
        <tbody>
            <% bookstores.forEach(function(bookstore) { %>
                <tr>
                    <td><%= bookstore.name %></td>
                    <td><%= bookstore.address %></td>
                    <td><%= bookstore.genres.join(", ") %></td>
                    <td><a href="<%= bookstore.website %>"><%= bookstore.website %></a></td>
                    <td><form action="/bookstores/<%= bookstore._id %>" method="GET"><button type="submit">Details</button></form></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <% if(user) { %>
        <form id="add-bookstore" action="/bookstores/new" method="GET">
            <p>Found a great bookstore? <button type="submit">Add it here!</button></p>
        </form>
    <% }; %>
</div>



<%- include('../partials/footer') %>