<%- include('../partials/header') %>

<div id="display-single-bookstore">
    <h1><%= bookstore.name %></h1>
    <p><strong>Address:</strong> <%= bookstore.address %></p>
    <p><strong>Popular Genre(s):</strong> <%= bookstore.genres.join(", ") %></p>
    <p><strong>Website:</strong> <a href="<%=bookstore.website%>"><%= bookstore.website %></a></p>
    <br />
    <% if(user) { %>
        <h3>Been Here Before? Tell Us What You Thought!</h3>
        <form action="/bookstores/<%= bookstore._id %>/reviews" method="POST">
                <label>Share your thoughts:</label>
                <br />
                <textarea name="content" placeholder="So what'd you think?..." cols=45 rows=15></textarea>
                <br />
                <label>On a scale of 1-5:</label>
                <br />
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <input type="submit" value="Post your Review!">
        </form>  
    <% }; %>
    </div>
    
    <aside id="reviews">
            <% if(bookstore.reviews.length) { %>
                <h2>What Your Fellow Bookworms Had to Say About <%= bookstore.name %>:</h2>
                    <% bookstore.reviews.forEach(function(review, idx) { %>
                        <div>
                            <% if(user) { %> 
                                <h3>Review by <%= user.name %></h3>
                            <% } else { %>
                                <h3>Review # <%= idx + 1 %></h3>
                            <% }; %>
                            <p><%= review.content %></p>
                            <p><%= review.rating %> Stars</p>
                        </div>
                        <div>
                        <% if(review.createdBy.equals(user && user._id)) { %>
                            <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete Review</button>
                            </form>
                            <br />
                            <form action="/reviews/<%= review._id %>" method="GET">
                                <button type="submit">Edit Review</button>
                            </form>
                        </div>
                        <% }; %>    
                    <% }); %>   
            <% } else { %>
                <% if(user) { %>
                    <h3>Sorry, nobody has reviewed this bookstore yet. You could be the first!</h3>
                <% } else { %>
                    <h3>Sorry, nobody has reviewed this bookstore yet. <a href="/auth/google">Log in</a> to be the first!</h3>
                <% }; %>
            <% }; %>
    </aside>



<%- include('../partials/footer') %>