<%- include('../partials/header') %>

<div id="display-one-review">
    <h2>Your Original Review:</h1>
    
    <% bookstore[0].reviews.forEach(function(review) { %>
            <p><%= review.rating %> Star(s) - <%= review.content %></p>       
</div>

<div id="update-review-form">
    <h3>Now's your chance to tell us what you <em>really</em> think:</h3>
        <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
            <textarea name="content" placeholder="What was it really like?" cols=45 rows=15></textarea><br /><br />
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit">Submit Changes</button>
        </form><br />
        <p>Or maybe you'd prefer not to say anything at all? Delete your review: 
            <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Review</button>
            </form>
         </p>
    <% }); %> 
</div>

<%- include('../partials/footer') %>